*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #353b48;
}

section.area{
    width: 600px;
    height: 550px;
    margin: 30px auto;
    background-color: #8e44ad;
}