/*Reset da pagina*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*Estilos gerais*/
html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d4d4d;
}

.clear{
    clear: both;
}

h1, h2, h3{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.btn{
    color: white;
    background-color: #8f2faf;
    font-size: .9em;
    padding: 10px 20px;
    border-radius: 5px;
}

/*Menu de navegação*/
nav{
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav > a{
    color: #f1f1f1;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}

nav ul{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li{
    width: 100%;
    text-align: center;
}

nav ul li a{
    padding: 10px 0;
    color: white;
    display: inline-block;
    width: 100%;
    transition: .3s;
}

nav ul li a:hover{
    background-color: #f1f1f1;
    color: #4d4d4d;
}

/*Header*/
header{
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #f1f1f1;
}

header p{
    margin-bottom: 2em;
}

/*Section sobre*/
section#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    background-color: #8f2faf;
    color: white;
}


section#sobre p{
    margin-bottom: 2.6em;
    max-width: 700px;
}

section#sobre > .btn{
    background-color: white;
    color: #4d4d4d;
}

/*Section serviços*/
section#servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

section#servicos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

section#servicos div img{
    width: 80px;
}

/*---Portifolio---*/
section#portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

section#portifolio img{
    max-width: 100%;
    margin-top: 30px;
}

/*Contato*/
section#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    text-align: center;
}

#contato div img{
    width: 30px;
}

#contato div{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contato div a{
    color: #4d4d4d;
}

/*---Footer---*/
footer{
    width: 100%;
    padding: 20px 2%;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    margin-top: 10px;
}


/*MEDIAS QUERYS*/
@media screen and (min-width: 768px){
    /*Menu*/
    nav{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1% 0;
    }

    nav > a{
        margin-bottom: 0;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }

    /*Header*/
    header{
        height: 700px;/*fall back*/
        height: 70vh;
        justify-content: center;
    }

    /*Sobre*/
    #sobre{
        height: 300px;
        height: 30vh;
        justify-content: center;
        min-height: 300px;
    }

    /*Servicos*/
    section#servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 900px;
        margin: 0 auto;
    }

    #servicos h2{
        text-align: center;
        width: 100%;
    }

    #servicos div{
        flex: 1 1 200px;
    }

    /*Portifolio*/
    section#portifolio{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        /*background-color: #8f2faf;*/
    }

    #portifolio h2{
        text-align: center;
        width: 100%;
    }

    #portifolio img{
        flex: 1 1 200px;
        height: 170px;
        margin: 5px;
        max-width: 100%;
    }

    /*Contato*/
    section#contato{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        max-width: 900px;
    }

    #contato h2, p{
        width: 100%;
        text-align: center;
    }

    #contato div{
        margin-right: 30px;
    }
}