*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Archivo', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

/*---Classes de controle---*/
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*---Iniciando estilização de header---*/
header{
    background-color: #252323;
}

header .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    flex-wrap: wrap;
}

header div.logo{
    font-family: 'Geo', sans-serif;
    font-size: 2em;
    color: white;
}

div.redes-socias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.redes-socias a:nth-child(1) img{
    width: 15px;
}

.redes-socias a{
    color: white;
    margin: 20px;
}

.redes-socias a:hover{
    color: #00bac6;
}

/*.redes-socias img{
    width: 20px;
    margin-right: 20px;
}*/

/*---Estilizando barra de navegação---*/
div.navegacao{
    background-color: #ccc;
    border-bottom: 3px solid #afadad;
}

div.navegacao .container{
    /*height: 70px;*/
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

nav.menu-pc ul{
    flex: 2 1 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.menu-pc ul li{
    margin: 10px;
}

.menu-pc ul li:first-child{
    margin-left: 0;
}

.menu-pc ul a{
    color: rgb(53, 52, 52);
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px 0;
    transition: .3s;
}

.menu-pc ul a:hover{
    color: #00bac6;
    border-bottom: 3px solid #00bac6;
}

div.input-pesquisa{
    background-color: white;
    border: 1px solid #706e6e;
    display: flex;
    align-items: center;
    flex: 1 1 200px;
    justify-content: space-between;
}

input[type="search"]{
    max-height: 36px;
    min-height: 36px;
    padding-left: 10px;
    outline: none;
    border: none;
    flex: 2;
}

input[type="search"]:focus ~ div.input-pesquisa{
    border: 5px solid #00bac6;
}

a.lupa{
    padding: 1.4%;
    color: #ccc;
}

a.lupa:hover{
    color: #00bac6;
}

/*---Sessão de apresentação---*/
section.sessao-apresenta{
    width: 100%;
}

.img-cfg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}

div.img1{
    background-image: url('../img/banner1.jpg');
}

div.img2{
    background-image: url('../img/banner2.jpg');
}

/*---Estilizando botoes de troca de img---*/
button.slick-arrow{
    font-size: 0px;
    border: none;
    width: 50px;
    height: 50px;
    outline: none;
    background-color: transparent;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

button.slick-prev{
    top: 50%;
    left: 10%;
    background-image: url('../img/arrow-circle-left-solid.svg');
}

button.slick-next{
    background-image: url('../img/arrow-circle-right-solid.svg');
    top: 50%;
    right: 8%;
}

ul.slick-dots{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.slick-dots li{
    margin: 0 10px;
}

.slick-dots li button{
    margin: 0;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(61, 60, 60);
    border-radius: 50%;
    font-size: 0px;
    cursor: pointer;
    background-color: transparent;
}

li.slick-active button{
    background-color: #00bac6;
}

/*---Sessão de destaque---*/
.destaque{
    width: 100%;
    background-color: #252323;
    border-top: 2px solid #afadad;
}

.texto-dest{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 2%;
    text-align: center;
}

.texto-dest h1{
    color: white;
    font-weight: 200;
    text-transform: uppercase;
}

.texto-dest h1 strong{
    color: #00bac6;
    font-weight: bold;
}

.texto-dest p{
    color: rgb(117, 115, 115);
    margin-top: 15px;
}

.img-dest-mon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-child{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.img-child .img-ind-dest{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 110px;
    height: 110px;
    align-self: center;
    margin-bottom: 5px;
}

.img-dest-mon div:first-of-type .img-ind-dest{
    /*background-color: red;*/
    background-image: url('../img/content-1.png');
}

.img-dest-mon div:nth-of-type(2) .img-ind-dest{
    /*background-color: green;*/
    background-image: url('../img/content-2.png');
}

.img-dest-mon div:last-of-type .img-ind-dest{
    /*background-color: blue;*/
    background-image: url('../img/content-3.png');
}

/*---Sessão de Fotos---*/
section.fotos{
    background-color: #eeeeee;
}

.fotos .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foto-cont{
    flex: 1 1 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.foto-ind{
    max-width: 100%;
    height: 200px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto-mom div:nth-of-type(1) .foto-ind{
    background-color: red;
    background-image: url('../img/imagem1.png');
}

.foto-mom div:nth-of-type(2) .foto-ind{
    background-color: yellow;
    background-image: url('../img/imagem2.png');
}

.foto-mom div:nth-of-type(3) .foto-ind{
    background-color: blue;
    background-image: url('../img/imagem3.png');
}

.foto-mom div:nth-of-type(4) .foto-ind{
    background-color: green;
    background-image: url('../img/imagem1.png');
}

.foto-mom div:nth-of-type(5) .foto-ind{
    background-color: orange;
    background-image: url('../img/imagem2.png');
}

.foto-mom div:nth-of-type(6) .foto-ind{
    background-color: purple;
    background-image: url('../img/imagem3.png');
}

section.fotos:before{
    content: '';
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: #252323;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}