*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Archivo', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

/*---Classes de controle---*/
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*---Iniciando estilização de header---*/
header{
    background-color: #252323;
}

header .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    flex-wrap: wrap;
}

header div.logo{
    font-family: 'Geo', sans-serif;
    font-size: 2em;
    color: white;
}

div.redes-socias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.redes-socias a:nth-child(1) img{
    width: 15px;
}
.redes-socias img{
    width: 20px;
    margin-right: 20px;
}

/*---Estilizando barra de navegação---*/
div.navegacao{
    background-color: #ccc;
    border-bottom: 3px solid #afadad;
}

div.navegacao .container{
    /*height: 70px;*/
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

nav.menu-pc ul{
    flex: 2 1 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.menu-pc ul li{
    margin: 10px;
}

.menu-pc ul li:first-child{
    margin-left: 0;
}

.menu-pc ul a{
    color: rgb(53, 52, 52);
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 0;
}

input[type="search"]{
    flex: 1 1 250px;
    /*min-width: 250px;*/
    max-height: 36px;
    min-height: 36px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #706e6e;
    background-image: url('../img/lupa.svg');
    background-repeat: no-repeat;
    background-size: 30px 25px;
    background-position: center right;
}